form {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 25em;
  padding-top: 2em;

  label {
    padding-bottom: 0.5em;
  }

  input {
    width: 100%;
    padding: 0.5em 1em;
    border: 0.1em solid #bbb;
  }

  button {
    margin-top: 2em;
  }

  .error {
    height: 1em;
    font-weight: bold;
  }
}
