@import "/normalize.css/normalize.css";

$height: 3em;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0.5em;
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
}

button {
  padding: 0.5em 1em;
  background: #eee;
  border: 0.1em solid #eee;
  &:not(:disabled) {
    cursor: pointer;
    &:hover {
      background: #ddd;
      border-color: #ddd;
    }
    &:active {
      background: #ccc;
      border-color: #ccc;
    }
    &.primary {
      color: #fff;
      background: #333;
      border-color: #333;
      &:hover {
        background: #444;
        border-color: #444;
      }
      &:active {
        background: #555;
        border-color: #555;
      }
    }
  }
}

app-root {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100vh;
}

app-header {
  header {
    background: #eee;
    height: $height;
    padding: 0 0.5em;
    display: flex;
    align-items: center;
    img {
      height: 2.5em;
      padding-right: 0.5em;
    }

    a {
      display: flex;
      align-items: center;
      color: inherit;
      text-decoration: inherit;

      &:hover {
        text-decoration: underline;
      }

      span {
        font-size: 1.4em;
        font-weight: bold;
      }
    }
  }
}

app-body {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  div[ng-view] {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    main.home {
      flex-grow: 1;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
    main.stock {
      nav {
        padding-bottom: 1em;
      }
      table {
        border: 0.1em solid #bbb;
        border-collapse: collapse;
        th,
        td {
          padding: 0.5em 1em;
        }

        thead {
          background: #bbb;
        }

        tbody {
          tr:nth-child(even) {
            background: #eee;
          }
        }

        td.price,
        td.qty {
          text-align: right;
          white-space: nowrap;
        }
      }
    }
  }
}

app-footer footer {
  background: #eee;
  height: $height;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: inherit;
    text-decoration: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}
